@font-face {
  font-family: 'Lakeshore-Regular';
  src: url('Lakeshore-Regular.eot');
  src: url('Lakeshore-Regular.woff2') format('woff2'),
       url('Lakeshore-Regular.woff') format('woff'),
       url('Lakeshore-Regular.ttf') format('truetype'),
       url('Lakeshore-Regular.svg#Lakeshore-Regular') format('svg'),
       url('Lakeshore-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

