body {
	margin:0px;
	font-family: 'AvenirNextLTPro-Regular';
}
h1,h2,h3,h4,p,ul {
	margin:0px;
	padding:0px;
}
img {
    max-width: 100%;
    height: auto;
}
a {
	color:white;
	text-decoration: none;
	font-size: 14px;
}
.container {
	max-width: 1150px;
	margin: 0px auto;
}
.cleaner:after {
	content: '';
	display: table;
	clear: both;
}
header {
    padding: 30px 0px;
    position: fixed;
    width: 100%;
    z-index: 5;
}
.left-c {
    float: left;
}
.left-img {
    width: 200px;
    height: 30px;
}
.right-c {
    float: right;
}
.right-img {
    width: 250px;
    height: 50px;
}
.section-relative {
    position: relative;
}
.height-f {
    height: 100vh;
}
.background-f {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.home-carousel {
    height: 100%;
}
.home-item {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.background-f:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.35;
    background: black;
    z-index: 2;
}
section#section2 {
    background-size: cover !important;
    position: relative;
    background-attachment: fixed !important;
    background-position: center !important;
}
section#section2:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.45;
    background: black;
    z-index: 2;
        z-index: 0;
    pointer-events: none;
}
.grid-align-center {
    position: relative;
    z-index: 2;
    height: 100%;
    display: grid;
    align-items: center;
}
.background-f {
    z-index: -1;
}
.image-f h1 {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    opacity: 0;
    pointer-events: none;
}
.title-f {
    position: relative;
    top: 150px;
    z-index: 5;
}
.image-f {
    max-width: 620px;
    margin: 0px auto;
    position: relative;
}
.btn {
    font-size: 14px;
    border: solid 1px white;
    padding: 12px 10px;
    border-radius: 5px;
    margin: 0px 15px;
    display: inline-block;
}
.button-container {
    text-align: center;
}
.footer-left a {
    text-align: right;
}
.footer-right a {
    text-align: left;
}
.link-bottom {
    position: relative;
    display: block;
    font-size: 18px;
}
.link-bottom:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #54d1fb;
    bottom: -9px;
    left: 0;
}
.grid-footer-f {
    display: grid;
    grid-template-columns: 220px auto 220px;
    grid-template-rows: 50px;
    align-items: center;
}
.footer-f {
    position: absolute;
    width: 100%;
    bottom: 30px;
}
.container-x {
    max-width: 550px;
    margin: auto;
}
.title-x h2 {
    font-family: 'Lakeshore-Regular';
    font-size: 35px;
    color: white;
    text-align: center;
    font-weight: 400;
    line-height: 35px;
}
.title-x h2 b {
    display: block;
    font-weight: 400;
    font-size: 60px;
}
.grid-core-question {
    display: grid;
    grid-template-columns: 78px auto 78px;
}
span.box-title {
    font-size: 14px;
    color: white;
    display: block;
    opacity: 0;
}
.box-icon {
    border: solid 1px white;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    margin: 0px auto;
    position: relative;
    margin-top: 10px;
    margin-bottom: 30px;
}
.box-icon:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 17px;
    background: white;
    bottom: -23px;
    left: 10px;
    opacity: 0.5;
}
.box-icon i {
    position: absolute;
    width: 11px;
    height: 11px;
    background: white;
    border-radius: 50%;
    top: 5px;
    left: 5px;
}
.box-link a {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0px 5px;
    color: #54D1FB;
    background: white;
}
.box-line {
    position: relative;
    display: grid;
    grid-template-columns: auto 33px auto;
    grid-template-rows: 20px;
    width: calc(84px + 100%);
    left: -42px;
}
.box-line:before {
    content: '';
    position: absolute;
    width: calc(100% - 40px);
    border-bottom: dashed 2px rgba(255, 255, 255, 0.5);
    left: 20px;
    top: 37px;
}
.box-line:after {
    content: '';
    position: absolute;
    width: 11px;
    height: 11px;
    background: white;
    border-radius: 50%;
    left: 50%;
    margin-left: -5.5px;
    bottom: -23px;
}
.box-line-icon {
    position: absolute;
    width: 33px;
    height: 33px;
    background: #54D1FB;
    border-radius: 50%;
    left: 50%;
    margin-left: -16px;
    top: 21px;
    transition: 0.5s;
    z-index: 2;
}
.box-line-icon i {
    position: absolute;
    width: 15px;
    height: 15px;
    border: solid 1px white;
    border-radius: 50%;
    left: 8px;
    top: 8px;
}
.minHeight {
    padding: 40px 0px;
}
.backgroundBlue {
    background: #54d1fb;
}
.title-img-section3 img {
    max-width: 390px;
}
.title-img-section3 h2 {
    font-size: 110px;
    font-family: 'Lakeshore-Regular';
    font-weight: 400;
    color: white;
    line-height: 70px;
    padding-bottom: 40px;
}
.title-img-section3 {
    text-align: center;
}
.abs-box-cont {
    overflow: hidden;
    margin-top: 100px;
    position: relative;
    z-index: 3;
}
a.left-abs {
    float: left;
    margin-left: 20px;
}
a.right-abs {
    float: right;
    margin-right: 20px;
}
.abs-box-cont i {
    background-image: url(../img/arrow.png);
    width: 19px;
    height: 13px;
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: 5px;
}
a.right-abs i {
    margin-right: 0px;
    margin-left: 5px;
    transform: rotate(180deg);
}
.model-img img {
    max-width: 920px;
    margin: 0px auto;
}
#section3 .section-relative {
    padding-top: 100px;
}
.model-carousel {
    margin-top: -450px;
}
.model-carousel .owl-item {
    opacity: 0;
}
.model-carousel .owl-item.active {
    opacity: 1;
}
.data-simple-list li .data {
    color: black;
    font-size: 26px;
}
.data-simple-list li .title {
    color: #6C6C6C;
    font-size: 14px;
    margin-bottom: 5px;
}
.data-simple-list li {
    display: inline-block;
    margin-right: 35px;
}
.data-simple-title {
    margin-bottom: 20px;
}
.data-simple-title h3 {
    font-size: 25px;
    color: #54D1FB;
}
.model-data-line {
    display: grid;
    grid-template-columns: auto 240px;
}
.top-t {
    font-size: 12px;
    text-transform: uppercase;
    color: #6C6C6C;
}
span.int-value {
    font-size: 25px;
    font-weight: 700;
}
.sli-dolares .int-value {
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 5px;
}
.sli-dolares .data-value {
    font-size: 65px;
    font-weight: 700;
    display: inline-block;
    line-height: 65px;
}
.sli-soles .data-t {
    margin: 5px 0px;
}
.sli-soles .int-or {
    font-size: 25px;
    font-weight: 700;
}
.sli-soles .int-value {
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    vertical-align: top;
    top: 2px;
    position: relative;
}
.sli-soles .data-value {
    font-size: 45px;
    font-weight: 700;
    display: inline-block;
    line-height: 45px;
}
.data-simple-link a {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.34);
    border-radius: 5px;
    background: #C1C1C1;
    color: black;
    padding: 10px 15px;
    font-weight: 700;
    display: inline-block;
}
.data-simple-link {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 4px;
}
.items-model-item img {
    max-width: 170px;
    margin: 0px auto;
}
.items-model-item h3 {
    font-size: 14px;
    color: #6A6A6A;
}
.items-model-item.is-active {
    opacity: 0.5;
}
.items-model-item {
	cursor: pointer;
    text-align: center;
    flex: 1;
}
.items-model-carousel {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
}
.model-img {
    margin-bottom: -80px;
}
.link-content-model .terms-span i:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: #54d1fb;
    border-radius: 50%;
    left: 2px;
    top: 2px;
}
section#section4 h2 {
    color: black;
}
section#section4 {
    background: #F7F7F7;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
}
.cards-grid {
    display: grid;
    grid-template-columns: repeat(3,285px);
    grid-column-gap: 30px;
    max-width: 915px;
    margin: 0px auto;
    margin-top: 80px;
}
.link-content-model .terms-span i {
    border: solid 2px #54d1fb;
    width: 9px;
    height: 9px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    top: 2px;
}
.link-content-model .terms-link a {
    color: black;
    border-bottom: solid 1px black;
    font-size: 12px;
}
.link-content-model .terms-link {
    display: inline-block;
}
.link-content-model .terms-span {
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}
.link-content-model {
    text-align: center;
    margin-top: 50px;
}
.btnBlue {
    background: #54d1fb;
    margin-top: 20px;
}
.card-item-image img {
    margin-bottom: -4px;
}
.card-item-content {
    padding: 20px;
    padding-bottom: 40px;
    background: white;
    border: solid 1px #E3E3E3;
    border-top: 0px;
}
.card-item-content h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
.intent-content p {
    font-size: 14px;
    min-height: 32px;
}
.card-item {
    position: relative;
}
.button-fot a i:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    transform: rotate(90deg);
    /* opacity: 0; */
}
.abs-box-cont .right-abs span {
    text-align: right;
}
.abs-box-cont .left-abs span {
    text-align: left;
}
.abs-box-cont span {
    max-width: 200px;
    display: inline-block;
    vertical-align: middle;
}
.button-fot a i {
    position: absolute;
    height: 20px;
    width: 2px;
    background: black;
    left: 50%;
    top: 50%;
    margin-left: -1px;
    margin-top: -10px;
}
.button-fot a {
    display: block;
    height: 100%;
}
.button-fot {
    position: absolute;
    width: 50px;
    height: 50px;
    background: white;
    box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.16);
    border-radius: 50%;
    bottom: -25px;
    right: 20px;
    cursor: pointer;
}
.creepy-modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.41);
    z-index: 15;
    transition: 0.5s;
    transform: translateX(-120%);
}
.creepy-modal.is-active {
	transform:none;
}
.content-creepy-modal {
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    padding: 45px 60px;
}
.close-creepy-modal:after {
    content: '';
    position: absolute;
    width: 14px;
    height: 1px;
    background: black;
    top: 21px;
    right: 14px;
    transform: rotate(45deg);
}

.close-creepy-modal:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 1px;
    background: black;
    top: 21px;
    right: 14px;
    transform: rotate(-45deg);
}
.close-creepy-modal {
    box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.16);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    position: absolute;
    z-index: 5;
    background: #ffffff;
    top: 10px;
    right: 15px;
    cursor: pointer;
}
.body-content-creepy-modal p {
    font-size: 14px;
    margin-bottom: 10px;
}
.body-content-creepy-modal h2 {
    font-family: 'Lakeshore-Regular';
    font-size: 50px;
    font-weight: 400;
    color: #54d1fb;
    line-height: 40px;
    margin-bottom: 50px;
}
.content-modal-card h3 {
    font-family: 'Lakeshore-Regular';
    font-size: 50px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 40px;
    font-weight: 400;
    color: #54d1fb;
}
.center-text {
    text-align: center;
}
.body-content-creepy-modal.simple-desing-text {
    max-height: 80vh;
    overflow-y: scroll;
}
.bodyfull-content-creepy-modal .img-core .img-back {
    position: absolute;
    left: -80px;
}
.bodyfull-content-creepy-modal .img-core .img-front {
    position: relative;
    margin: 0px auto;
    max-width: 650px;
}
.bodyfull-content-creepy-modal .img-core {
    position: relative;
    height: 430px;
    text-align: center;
    max-width: 650px;
    margin: 0px auto;
    margin-top: -30px;
    margin-bottom: -60px;
}
.bodyfull-content-creepy-modal .title-core p {
    color: black;
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0px;
}
.bodyfull-content-creepy-modal .title-core h2 {
    color: #034694;
}
.bodyfull-content-creepy-modal .title-core {
    text-align: center;
    padding: 40px 0px;
    padding-bottom: 0px;
}
.bodyfull-content-creepy-modal {
    background: white;
    min-height: 100vh;
}
.list-core ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
li.vertical-li {
    flex: 1;
    margin: 3px 5px;
}
.list-core ul li.not-me-line {
    flex: 1 100%;
}
.list-core ul li .data {
    font-size: 22px;
}
.list-core ul li .title {
    font-size: 12px;
}
.list-core ul li.not-me-line {
    margin: 10px 5px;
    background: white;
    height: 2px;
}
.list-core ul li.horizontal-li .title:after {
    content: ':';
}
.list-core ul li.horizontal-li .data {
    font-size: 14px;
    display: inline-block;
}
.list-core ul li.horizontal-li .title {
    display: inline-block;
}
li.horizontal-li:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    left: 0;
    top: 5px;
}
li.horizontal-li {
    position: relative;
    padding-left: 15px;
}
.list-core {
    position: relative;
    color: white;
}
.modal-model:before {
    content: '';
    position: absolute;
    height: calc(100% - 350px);
    width: 100%;
    bottom: 0;
    background: #034694;
    z-index: 0;
}
.body-content-creepy-modal {
    max-width: 500px;
}
.body-content-creepy-modal h2 strong {
    display: block;
    font-weight: 400;
    font-size: 75px;
}
.content-modal-card ul li .text {
    font-size: 12px;
}
.content-modal-card ul li img {
    height: 40px;
}
.content-modal-card ul li {
    display: inline-block;
    width: calc(25% - 5px);
    text-align: center;
    vertical-align: top;
}
.content-modal-card ul {
    list-style: none;
    text-align: center;
}
.checkIn a:before {
    content: '';
    position: absolute;
    width: 12px;
    height: 25px;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
    transform: rotate(37deg);
    top: 50%;
    left: 50%;
    margin-left: -6px;
    margin-top: -17px;
}
.checkIn a {
    margin: 0px;
    width: 46px;
    display: block;
    height: 16px;
    background: #53d0fb;
}
.checkIn {
    position: absolute;
    left: 50%;
    margin-left: -34px;
    bottom: 0px;
    display: none;
}
ul#title-question li {
    display: inline-block;
    width: 100%;
    text-align: center;
    transition: 0.5s;
}
ul#title-question {
    list-style: none;
    margin: 30px 0px;
    color: white;
    white-space: nowrap;
    transition: 0.5s;
}
.content-bajada-x {
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 20px;
}
ul#icons-question li {
    position: relative;
}

ul#icons-question li:before {
    content: '';
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: solid 1px white;
    position: absolute;
    top: -11px;
    left: 50%;
    margin-left: -23px;
}
.core-question {
    position: relative;
}
.core-array-images {
    position: relative;
    margin-top: 100px;
}
ul#icons-question img {
    max-width: 26px;
}
ul#icons-question li {
    position: relative;
    height: 50px;
}
ul#icons-question {
    display: grid;
    grid-template-columns: repeat(5,20%);
    align-items: center;
    list-style: none;
    text-align: center;
    grid-template-rows: 50px;
}
ul#icons-question li:after {
    content: '';
    position: absolute;
    width: calc(50% + 9px);
    height: 1px;
    background: white;
    right: -32px;
    top: 13px;
}
ul#icons-question li:last-child:after {
    display: none;
}
ul#icons-question li svg {
    width: 26px;
    transition: 0.5s;
}
ul#icons-question li.is-active svg {
    fill: #53d0fb;
    stroke: #53d0fb;
}

span.background-core i {
    position: relative;
    width: 47px;
    height: 47px;
    background: white;
    border-radius: 50%;
    display: inline-block;
    top: 2px;
    left: 1px;
}
span.background-core {
    position: absolute;
    width: 20%;
    height: 50px;
    top: -13px;
    z-index: -1;
    text-align: center;
    transition: 0.5s;
}
.box-link a.not-active {
    background: #8f8f8f;
    pointer-events: none;
    opacity: 0.7;
    color: white;
}
.box-link a.active {
    background: #54D1FB;
    color: white;
}
input, select {
    border: none;
    border-bottom: solid 1px #c8c8c8;
    padding: 10px 0px;
    margin-top: 20px;
    width: 100%;
}
.field.text-right button {
    margin-right: 0px;
    min-width: 100px;
    color: white;
}
.field.text-right {
    text-align: right;
}
.bodyfull-content-creepy-modal.video {
    height: 100vh;
}
.st-btn a svg {
    width: 15px;
    height: 16px;
    display: inline-block;
    vertical-align: bottom;
}
.st-btn a {
    display: block;
    padding: 8px 7px;
}
.st-facebook {
    background: #3b5998;
}
.st-btn {
    border-radius: 4px;
    display: inline-block;
}
.st-twitter {
	background: #55acee;
}
.st-messenger {
	background: #448aff;
}
.st-whatsapp {
	background: #25d366;
}
.diploma-modal h1 {
    font-family: 'Lakeshore-Regular';
    font-size: 45px;
    color: #54d1fb;
    font-weight: 400;
    margin-bottom: 20px;
}
.st-btn.only-mobile {
    display: none;
}
.shared-social {
    margin-top: 30px;
}
body.modal-active {
	overflow: hidden;
}
li.horizontal-li {
    margin: 4px 5px;
}
.body-footer-modal .btn {
    background: #54d1fb;
}
.body-footer-modal {
    margin-top: 15px;
    border-top: solid 1px rgba(163, 162, 162, 0.35);
    padding-top: 12px;
}
.button-container a {
    transition: 0.5s;
}
.button-container a:hover {
    background: #54d1fb;
}
@media (max-width:1250px){
	.model-img img {
	    max-width: 800px;
	}
	.model-carousel {
	    margin-top: -320px;
	}
}
@media (max-width:1175px){
	.container {
	    max-width: 900px;
	}
	.items-model-item {
	    display: inline-block;
	}
	.items-model-carousel {
	    display: block;
	    text-align: center;
	}
	.abs-box-cont span {
	    display: none;
	}
	.cards-grid {
	    grid-column-gap: 22px;
	}
}
@media (max-width:950px){
	.cards-grid {
	    display: block;
	    text-align: center;
	}
	.cards-grid .card-item {
	    width: 285px;
	    margin: 5px 20px;
	    margin-bottom: 50px;
	    display: inline-block;
	}
	.container {
	    max-width: calc(100% - 40px);
	}
	.model-data-line {
	    display: block;
	    text-align: center;
	}
	.data-simple-list li {
	    width: calc(50% - 22px);
	    margin: 10px;
	}
	.data-simple-list ul {
	    max-width: 320px;
	    margin: auto;
	}
	.grid-price-m {
	    margin-top: 40px;
	}
}
@media (max-width:800px){
    #section3 .section-relative {
        padding-top: 0px;
    }
	.grid-footer-f {
	    display: block;
	}
	.footer-left {
	    float: left;
	}
	.footer-left a {
        padding-left: 10px;
        font-size: 12px;
        margin-left: 5px;
    }
	.footer-mid {
	    position: absolute;
	    top: -60px;
	    width: 100%;
	    text-align: center;
	}
	.button-container a {
	    margin-left: 5px;
        margin-right: 5px;
        font-size: 12px;
        max-width: 120px;
        position: relative;
        top: -20px;
	}
    header {
        position: absolute;
    }
	.footer-right {
	    float: right;
	}
	.footer-right a {
        padding-right: 10px;
        font-size: 12px;
        margin-left: 0px;
        margin-right: 5px;
    }
	.grid-footer-f:after {
	    content: '';
	    display: table;
	    clear: both;
	}
	.box-line-core {
	    width: calc(100% - 165px);
	    display: inline-block;
	    position: relative;
	    top: -85px;
	}
	.box-question {
	    width: 78px;
	    display: inline-block;
	}
	.grid-core-question {
	    display: block;
	}
	.core-array-images svg {
	    display: none;
	}
	span.background-core {
	    display: none;
	}	
	ul#icons-question li.is-active:before {
	    background: #54d1fb;
	}
	ul#icons-question li:before {
	    width: 12px;
	    height: 12px;
	}
	ul#icons-question li {
	    display: inline-block;
	    width: 60px;
	}
	ul#icons-question li:after {
	    right: 0;
	    width: calc(50% + 1px);
	    top: -5px;
	}
	.image-f {
	    max-width: 400px;
	}
	.box-line {
	    display: block;
	    position: relative;
	    top: -20px;
	}
	.checkIn {
	    bottom: -100px;
	}
	.box-line:after {
	    bottom: -43px;
	}
	.grid-align-center {
	    display: block;
	    padding-top: 60px;
	}
	ul#icons-question {
	    display: block;
	}
	.height-f {
	    min-height: 550px;
	}
	.home-item {
	    min-height: 550px;
	}
	ul#title-question li {
	    white-space: normal;
	}
	.content-creepy-modal {
	    width: calc(100% - 60px);
	    padding: 45px 20px;
	}
	.body-content-creepy-modal h2 strong {
	    font-size: 35px;
	}
	.body-content-creepy-modal h2 {
	    font-size: 30px;
	    line-height: 20px;
	    margin-bottom: 30px;
	}
	.bodyfull-content-creepy-modal.video {
    	height: calc(100vh - 100px);
	    z-index: 0;
	    position: relative;
	    min-height: calc(100vh - 100px);
	    top: 50px;
	    overflow: hidden;
	    background: black;
	}
	.content-modal-card ul li {
	    display: block;
	    width: 100%;
	    text-align: center;
	    margin-bottom: 10px;
	}
	.diploma-modal img {
	    max-width: 100%;
	    height: auto;
	}
	.st-btn {
	    width: calc(50% - 5px);
	    margin-bottom: 5px;
	}
    
}

@media (max-width:550px){
	.title-img-section3 h2 {
	    font-size: 40px;
	}
	.model-carousel {
	    margin-top: -200px;
	}
	.model-img {
	    margin-bottom: 0px;
	}
	.bodyfull-content-creepy-modal .img-core .img-front {
	    max-width: 100%;
	}
	.bodyfull-content-creepy-modal .img-core .img-back {
	    display: none;
	}
	.bodyfull-content-creepy-modal .img-core {
	    height: auto;
	    margin-bottom: 0px;
	    position: relative;
	    z-index: 6;
	}
	.bodyfull-content-creepy-modal {
	    max-height: calc(100vh - 50px);
	    overflow-y: scroll;
	    overflow-x: hidden;
	    background: transparent;
	}
	.bodyfull-content-creepy-modal .container {
	    max-width: 100%;
	    background: white;
	}
	.list-core {
	    z-index: 3;
	}
	.list-core:before {
	    content: '';
	    position: absolute;
	    width: 100%;
	    height: calc(100% + 120px);
	    background: #034694;
	    z-index: -1;
	    top: -120px;
	}
	.bodyfull-content-creepy-modal .title-core {
	    padding-top: 80px;
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.title-img-section3 img {
	    max-width: 90%;
	}
	.cards-grid .card-item img {
	    max-width: 100%;
	}
	.cards-grid .card-item {
	    width: 220px;
	}
	.model-img img {
	    margin-bottom: 30px;
	}
	ul#icons-question {
	    display: block;
	    max-width: 300px;
	    margin: auto;
	    position: relative;
	    left: 20px;
	}
	.grid-align-center {
	    overflow: hidden;
	}
	.container-x {
	    max-width: calc(100% - 20px);
	}
	div#line-left {
	    width: calc(50% - 13px);
	}
	.list-core ul li {
	    width: calc(50% - 20px);
	    display: inline-block;
	    text-align: center;
	    margin-bottom: 20px;
	    vertical-align: middle;
	}
	.list-core ul {
	    display: block;
	    text-align: center;
	}
	.list-core ul li.not-me-line {
	    display: block;
	    width: 100%;
	}
	.list-core ul li.horizontal-li {
	    width: 100%;
        padding: 0px;
	}
    .list-core ul li.horizontal-li:before {
        display:none;
    }
	.left-img {
	    width: 100px;
	}
	.right-img {
	    width: 145px;
	    position: relative;
	   top: -8px;
	}
	.image-f {
	    max-width: 300px;
	}
	.body-content-creepy-modal {
	    max-height: 300px;
	    overflow-y: scroll;
	}
	.st-btn.only-mobile {
	    display: inline-block;
	}
	.st-btn.not-mobile {
	    display: none;
	}
	.shared-in {
	    text-align: center;
	}
}
div.wpcf7-mail-sent-ng {
    display: none !important;
}
div.wpcf7-validation-errors {
    display: none !important;
}span.wpcf7-not-valid-tip {
    display: none !important;
}
input.wpcf7-not-valid, select.wpcf7-not-valid {
    border-color: #fc7070;
}
::-webkit-scrollbar-thumb {
    background: #9d9d9d;
    border-radius: 5px;
    cursor: pointer;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar {
    width: 12px;
}